@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "DMSans" ;
  src: url("../src/fonts/DMSans-VariableFont_opsz\,wght.ttf");
}

@font-face {
  font-family: "Unbounded";
  src: url("../src/fonts/Unbounded-VariableFont_wght.ttf");
}

